# Serie 1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Aufgabe 1.1

In [3]:
# a)
x = pd.Series([4,2,1,3,3,5,7])
print("a)\n",x)

# b)
print("b) x[2] =", x[2])

# c)
print("c) x[0] =", x[0])
print("   x[3] =", x[3])

# d)
print("d) len(x) =", len(x))

# e) - Addiert jedem Element der Liste 2 hinzu
print("e)",x+2)

# f) - Addiert alle Elemente zusammen
print("f)",np.sum(x+2))

# g) - Gibt eine Bool-Liste zurück für jedes Element!
print("g)", x <= 3)

# h) - Gibt nur Elemente zurück, welche kleiner gleich 3 sind.
print("h) x[x <= 3]\n", x[x <= 3])

# i) - Sortiert die Elemente nach Wert
print("i) np.sort(x)\n", np.sort(x))

# j) - Gibt die Index an, welche 
print(f"j) np.argsort(x)\n{np.argsort(x)}\n{np.argsort(x)+1}")

# k)
print(f"k) {x[3]} -> x[3] = 8 -> ",end="")
x[3] = 8
print(x[3])

a)
 0    4
1    2
2    1
3    3
4    3
5    5
6    7
dtype: int64
b) x[2] = 1
c) x[0] = 4
   x[3] = 3
d) len(x) = 7
e) 0    6
1    4
2    3
3    5
4    5
5    7
6    9
dtype: int64
f) 39
g) 0    False
1     True
2     True
3     True
4     True
5    False
6    False
dtype: bool
h) x[x <= 3]
 1    2
2    1
3    3
4    3
dtype: int64
i) np.sort(x)
 [1 2 3 3 4 5 7]
j) np.argsort(x)
0    2
1    1
2    3
3    4
4    0
5    5
6    6
dtype: int64
0    3
1    2
2    4
3    5
4    1
5    6
6    7
dtype: int64
k) 3 -> x[3] = 8 -> 8

## Aufgabe 1.2

In [4]:
weight = pd.Series([60, 72, 57, 90, 95, 72])  # kg
height = pd.Series([1.75, 1.80, 1.65, 1.90, 1.74, 1.91])  # m

BMI = weight / (height**2)

print(BMI)

0    19.591837
1    22.222222
2    20.936639
3    24.930748
4    31.377989
5    19.736301
dtype: float64

## Aufgabe 1.3

In [5]:
fahrenheit = pd.Series([51.9, 51.8, 51.9, 53])

celsius = 5/9 * (fahrenheit - 32)
print(f"{fahrenheit=}\n\n{celsius=}")

diff = fahrenheit - pd.Series([48, 48.2, 48, 48.7])
print(f"{diff=}")

fahrenheit=0    51.9
1    51.8
2    51.9
3    53.0
dtype: float64

celsius=0    11.055556
1    11.000000
2    11.055556
3    11.666667
dtype: float64
diff=0    3.9
1    3.6
2    3.9
3    4.3
dtype: float64

## Aufgabe 1.4

In [6]:



winner = pd.Series([182,191, 185, 185, 182, 182, 188, 188, 188, 185, 185, 177, 182, 182, 193, 183, 179, 179, 175])
opponent = pd.Series([191,165, 187, 175, 193, 185, 187, 188, 173, 180, 177, 183, 185, 180, 180, 182, 178, 178, 173])

print(f"a) \n{len(winner)=}\n{len(opponent)=}\n{(len(winner)==len(opponent))=}")
print(f"b) \n{winner[5:10]=}\n")
print(f"c) \n",winner[[2,4,9,10,11]])

winner[[6,7]] = 189
print(f"d)\n",winner[6:8])
print(f"e)\n{winner.mean()=:,.2f} [vs.] {opponent.mean()=:,.2f}")

print(f"f)\nDifferenz: {winner.mean() - opponent.mean():,.2f} cm")
print(f"g) {winner.var()=:,.2f}, {winner.std()=:,.2f}")

sum = 0
for value in winner:
  sum += (value - winner.mean())**2

variance = sum/(len(winner)-1)
standard_deviation = np.sqrt(variance)

print(f"h) {variance=:,.2f}, {standard_deviation=:,.2f}")

a)
len(winner)=19
len(opponent)=19
(len(winner)==len(opponent))=True
b)
winner[5:10]=5    182
6    188
7    188
8    188
9    185
dtype: int64

c)
 2     185
4     182
9     185
10    185
11    177
dtype: int64
d)
 6    189
7    189
dtype: int64
e)
winner.mean()=183.84 [vs.] opponent.mean()=181.05
f)
Differenz: 2.79 cm
g) winner.var()=22.25, winner.std()=4.72
h) variance=22.25, standard_deviation=4.72

## Aufgabe 1.5

In [16]:
# a) load data and start at column 0 (first column)
data = pd.read_csv("./child.csv", sep=",", index_col=0)
data

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Australia,20.813221,11.791352,2.2,19.700000,10.500000,520.00,1.610349,7.4,6.4,5.0,...,92.2,94.0,NaN,23.66,8.512646,NaN,NaN,14.3,NaN,NaN
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
Canada,25.606245,15.057585,2.1,NaN,NaN,529.33,1.573912,6.1,5.9,5.3,...,78.0,94.0,23.6,23.43,10.047535,8.6,18.8,13.2,14.0,29.5
Czech Republic,10.849270,10.270000,1.2,58.899347,29.748594,502.00,1.743012,5.3,6.7,3.4,...,98.7,96.6,22.0,24.92,6.212492,21.5,16.8,11.4,5.5,11.7
Denmark,23.175894,2.740000,0.7,17.552965,20.151467,501.00,1.594974,4.3,4.9,4.4,...,95.0,96.0,22.7,22.93,5.942231,15.0,24.8,6.6,8.0,25.6
Finland,22.027651,4.170000,1.0,15.228876,22.802362,552.67,1.475432,5.2,4.1,3.0,...,97.0,97.0,24.8,23.54,12.158687,22.0,22.4,9.7,8.0,16.1
France,18.960382,7.640000,1.2,20.284619,25.830298,493.00,1.728004,6.2,6.8,3.6,...,98.0,87.1,13.5,21.04,4.906704,19.0,11.2,6.7,13.6,21.4
Germany,19.894067,16.289270,0.5,19.967763,37.374708,505.00,1.719702,4.4,6.8,3.9,...,97.8,94.0,17.0,21.23,5.507378,19.5,15.1,9.8,13.9,34.9
Greece,17.183647,13.230296,6.1,54.922056,25.070654,464.00,1.722499,9.8,8.8,3.8,...,88.0,88.0,15.5,23.15,1.263026,16.5,10.3,8.7,22.0,25.6
Hungary,9.463130,8.724203,2.1,73.306021,22.213785,492.33,1.620710,6.4,8.2,6.2,...,99.8,99.8,19.5,25.75,6.806580,21.5,17.7,20.7,6.6,27.6
Iceland,22.286852,8.250000,0.4,21.652526,15.534688,493.67,1.654064,NaN,3.9,2.3,...,97.0,94.0,20.6,16.95,7.841312,13.5,10.5,16.9,5.4,36.6
Ireland,22.364689,16.299416,2.9,16.429028,19.300100,508.67,1.590217,4.4,4.9,4.0,...,90.0,84.0,31.1,21.97,9.517063,19.5,16.3,13.5,8.6,24.0
Italy,17.180761,15.500000,1.2,47.851602,32.577363,468.67,1.752955,11.2,6.7,4.7,...,94.7,87.3,15.1,21.76,2.437998,20.0,10.0,6.8,7.9,12.8
Japan,22.479705,13.688033,5.6,22.540000,32.380000,517.33,1.652194,8.4,9.5,2.8,...,93.0,94.0,NaN,18.23,7.728493,NaN,NaN,3.7,NaN,NaN
Korea,21.651918,10.746834,1.8,NaN,NaN,541.67,1.545777,NaN,4.3,5.3,...,97.0,90.2,NaN,22.36,6.784772,NaN,NaN,3.7,NaN,NaN
Luxembourg,34.241822,12.390000,1.1,16.893185,25.574231,485.00,1.701361,2.2,4.9,2.6,...,NaN,NaN,15.2,14.84,6.357194,19.0,11.7,8.6,13.8,20.7
Mexico,5.335074,22.164514,13.7,69.600000,NaN,408.67,1.755798,NaN,8.8,18.8,...,98.1,96.4,18.1,50.23,5.128754,NaN,NaN,65.8,NaN,NaN
Netherlands,25.041012,11.526755,0.6,10.326503,38.712874,521.00,1.614444,3.9,6.2,4.9,...,95.8,96.3,21.2,20.49,3.496134,18.5,12.1,4.7,8.5,39.7
New Zealand,17.197108,15.000000,2.2,31.000000,NaN,524.33,1.676001,8.5,6.1,5.1,...,88.6,82.0,NaN,32.05,15.949567,NaN,NaN,23.4,NaN,NaN
Norway,28.574371,4.600000,1.3,15.113671,11.992789,487.00,1.692809,2.5,4.8,3.1,...,91.0,88.0,15.6,21.49,10.094030,10.4,14.0,9.4,8.3,41.7
Poland,7.939399,21.500000,2.1,73.957667,22.841904,500.33,1.632217,1.7,6.1,6.4,...,99.0,97.0,17.3,28.13,8.863713,16.4,19.9,14.5,9.6,21.1
Portugal,3.839462,16.550398,1.4,31.952303,33.457898,470.67,1.689477,8.4,7.5,3.5,...,93.3,92.7,14.6,34.60,2.430484,10.6,10.9,18.1,14.1,22.8
Slovak Republic,7.797596,10.930000,3.8,68.356284,27.348691,482.00,1.712179,6.3,7.2,7.2,...,99.2,99.5,42.1,30.15,5.036520,16.4,16.8,20.0,NaN,13.0
Spain,16.430249,17.300000,0.9,10.831831,31.683347,476.33,1.636259,8.5,7.1,4.1,...,96.2,96.8,20.3,23.49,2.599717,17.1,16.1,9.1,4.7,23.9
Sweden,19.916998,3.969106,1.6,20.011460,15.746422,504.00,1.630063,4.7,4.2,2.4,...,99.0,95.0,16.4,19.27,6.783234,8.5,13.8,6.8,4.2,24.1
Switzerland,24.651815,9.433293,0.7,NaN,NaN,513.67,1.650385,7.2,7.0,4.2,...,96.0,86.0,13.1,20.33,7.280508,15.0,11.4,4.5,12.1,27.3
Turkey,5.071860,24.590000,13.6,NaN,NaN,431.67,1.704249,37.7,11.3,23.6,...,90.0,91.0,20.0,NaN,NaN,NaN,NaN,39.7,25.3,57.4
United Kingdom,22.697062,10.080000,1.8,21.497427,29.069052,501.67,1.690351,9.3,7.5,5.1,...,91.4,83.8,18.7,21.17,2.987869,15.9,22.1,24.8,9.7,35.7
United States,29.196531,20.593932,4.8,26.200000,25.400000,481.50,1.725965,6.1,8.1,6.8,...,85.7,91.5,26.8,32.67,7.696773,8.1,10.2,49.8,11.9,26.4

In [23]:
# b) 
print(f"{data.shape=}")

# c) describe data
data_described = data.describe()
print(f"Mittelwert -------------------------------- \n{data_described.mean()}\n\n")
print(f"Median ------------------------------------ \n{data_described.median()}\n\n")

# d) Check for Netherlands
print(f"d) {data.index}")
print(f"   Netherlands {'Netherlands' in data.index}")
print(f"   China {'China' in data.index}")

data.shape=(30, 21)
Mittelwert --------------------------------
Average.disposable.income         19.361750
Children.in.poor.homes            13.993421
Educational.Deprivation            6.848588
Overcrowding                      30.799019
Poor.environmental.conditions     22.723853
Average.mean.literacy.score      376.744830
Literacy.inequality                4.998563
Youth.NEET.rate                   12.427179
Low.birth.weight                   9.121417
Infant.mortality                   9.853553
Breastfeeding.rates               66.757361
Vaccination.rates..pertussis.     73.811649
Vaccination.rates.measles.        72.315797
Physical.activity                 20.549075
Mortality.rates                   24.435598
Suicide.rates                      9.619802
Smoking                           16.400544
Drunkenness                       15.268974
Teenage.births                    20.552166
Bullying                          12.634454
Liking.school                     26.696407
dtype: float64


Median ------------------------------------
Average.disposable.income         19.977450
Children.in.poor.homes            12.015623
Educational.Deprivation            2.436667
Overcrowding                      23.787488
Poor.environmental.conditions     24.608749
Average.mean.literacy.score      489.533500
Literacy.inequality                1.673912
Youth.NEET.rate                    6.933717
Low.birth.weight                   6.696667
Infant.mortality                   4.878378
Breastfeeding.rates               82.513793
Vaccination.rates..pertussis.     92.387931
Vaccination.rates.measles.        89.758621
Physical.activity                 19.717308
Mortality.rates                   23.874483
Suicide.rates                      6.820522
Smoking                           16.556250
Drunkenness                       14.887500
Teenage.births                    14.733663
Bullying                          10.314583
Liking.school                     25.300000
dtype: float64


d) Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Czech Republic',
       'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Japan', 'Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovak Republic', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States'],
      dtype='object')
   Netherlands True
   China False

In [24]:
# e) 
# first show all column names
data.columns

Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

In [34]:
# grab the drunkenness column, sort it descending...
drunk = data.sort_values(by='Drunkenness', ascending=False)

# ...and select the top 5
drunk['Drunkenness'].head(5)

Denmark           24.8
Finland           22.4
United Kingdom    22.1
Poland            19.9
Canada            18.8
Name: Drunkenness, dtype: float64

In [37]:
# f) Infant Mortality
data.nsmallest(columns='Infant.mortality',n=1)

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Iceland,22.286852,8.25,0.4,21.652526,15.534688,493.67,1.654064,NaN,3.9,2.3,...,97.0,94.0,20.6,16.95,7.841312,13.5,10.5,16.9,5.4,36.6

In [45]:
# g) 
physical_mean = data['Physical.activity'].mean()
print(f"mean = {physical_mean}")
data.sort_values(by='Physical.activity',ascending=False).loc[data['Physical.activity'] < physical_mean]['Physical.activity']

mean = 20.134615384615383

Turkey            20.0
Austria           19.6
Hungary           19.5
Belgium           19.1
United Kingdom    18.7
Mexico            18.1
Poland            17.3
Germany           17.0
Sweden            16.4
Norway            15.6
Greece            15.5
Luxembourg        15.2
Italy             15.1
Portugal          14.6
France            13.5
Switzerland       13.1
Name: Physical.activity, dtype: float64

## Aufgabe 1.6

In [46]:
# a)
fuel = pd.read_csv('./d.fuel.dat', sep=',', index_col=0)
fuel

    weight  mpg     type
X
1     2560   33    Small
2     2345   33    Small
3     1845   37    Small
4     2260   32    Small
5     2440   32    Small
6     2285   26    Small
7     2275   33    Small
8     2350   28    Small
9     2295   25    Small
10    1900   34    Small
11    2390   29    Small
12    2075   35    Small
13    2330   26    Small
14    3320   20   Sporty
15    2885   27   Sporty
16    3310   19   Sporty
17    2695   30   Sporty
18    2170   33   Sporty
19    2710   27   Sporty
20    2775   24   Sporty
21    2840   26   Sporty
22    2485   28   Sporty
23    2670   27  Compact
24    2640   23  Compact
25    2655   26  Compact
26    3065   25  Compact
27    2750   24  Compact
28    2920   26  Compact
29    2780   24  Compact
30    2745   25  Compact
31    3110   21  Compact
32    2920   21  Compact
33    2645   23  Compact
34    2575   24  Compact
35    2935   23  Compact
36    2920   27  Compact
37    2985   23  Compact
38    3265   20   Medium
39    2880   21   Medium
40    2975   22   Medium
41    3450   22   Medium
42    3145   22   Medium
43    3190   22   Medium
44    3610   23   Medium
45    2885   23   Medium
46    3480   21   Medium
47    3200   22   Medium
48    2765   21   Medium
49    3220   21   Medium
50    3480   23   Medium
51    3325   23    Large
52    3855   18    Large
53    3850   20    Large
54    3195   18      Van
55    3735   18      Van
56    3665   18      Van
57    3735   19      Van
58    3415   20      Van
59    3185   20      Van
60    3690   19      Van

In [54]:
# b)

fuel.loc[5,:]

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

In [ ]:
# c)